@import '../common.styl'

.header
  height 44px
  line-height 44px
  background-color #1ba9ba
  color #ffffff
  font-size 18px
  text-align center
  position relative
  padding 0 15px
  &-back
    position absolute
    left 0
    width 42px
    height 42px
  &-title
    display inline-block
    max-width 216px
    margin 0
    textEllipsis()