.journey
  display flex
  &-station
    flex 1
    font-size 20px
    height 45px
    line-height 45px 
    border-bottom 1px solid #eaeaea
  &-switch 
    width: 70px
    height 40px
    line-height 40px
    transition-property transform 
    transition-duration .3s
    &-reverse 
      transform rotateZ(180deg)
  &-input 
    color #000
    width 100%
    margin-left 0
    margin-top 8px
    font-size 100%
    border 0
    outline 0
    padding 0
    background #fff
    line-height 1.5
  &-to 
    text-align right
